<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tthome.visneymanager.dao.ArticleLabelDao">



    <resultMap id="ArticleLabel" type="com.tthome.visneymanager.entity.ArticleLabel">
        <result column="article_label_id" property="articleLabelId"/>
        <result column="article_label_name" property="articleLabelName"/>
        <result column="article_id" property="articleId"/>

    </resultMap>

    <delete id="articleLabelDelete">
        delete from article_label
        where article_id in
        <foreach collection="array" open="(" close=")" separator=","
                 item="id">#{id}
        </foreach>
    </delete>

    <!--分页-->
    <select id="getAllArticleLabelCount" resultType="int">
        select count(0) from article_label t1
        /* GROUP BY t1.article_label_name*/
    </select>
    <select id="getAllArticleLabelByPage" resultMap="ArticleLabel">
        SELECT * from article_label t1
      /*  GROUP BY t1.article_label_name*/
         limit #{start},#{end}

    </select>
    <select id="getAllArticleLabel" resultMap="ArticleLabel">
        SELECT * from article_label t1
        GROUP BY t1.article_label_name
    </select>
    <!--add-->
    <insert id="addArticleLabel">
        insert into article_label values(0,#{articleLabelName},#{articleId})
    </insert>
 <!--update-->
    <update id="updateArticleLabel">
        update  article_label set article_label_name=#{articleLabelName}
        where article_label_id=#{articleLabelId}
    </update>
</mapper>