<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tthome.visneymanager.dao.PageViewsDao">



    <resultMap id="PageViews" type="com.tthome.visneymanager.entity.PageViews">
        <result column="page_views_id" property="pageViewsId"/>
        <result column="page_views_count" property="pageViewsCount"/>

    </resultMap>

    <delete id="pageViewsDelete">
        delete from page_views
        where page_views_id in
        <foreach collection="array" open="(" close=")" separator=","
                 item="id">#{id}
        </foreach>
    </delete>

    <insert id="pageViewsAdd" useGeneratedKeys="true" keyProperty="pageViewsId">
        insert into page_views values (0,#{pageViewsCount})
    </insert>



</mapper>