<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tthome.visneymanager.dao.ProImgDao">

    <resultMap id="ProImg" type="com.tthome.visneymanager.entity.ProImg">
        <result column="pro_img_id" property="proImgId"></result>
        <result column="pro_img_alt" property="proImgAlt"></result>
        <result column="pro_img_src" property="proImgSrc"></result>
        <result column="pro_img_cover" property="proImgCover"></result>
        <result column="pro_id" property="proId"></result>
    </resultMap>

    <select id="getAllProImg" resultMap="ProImg">
     SELECT * FROM pro_img
        <if test="proId!=0 and proId!=null">
            where pro_id=#{proId}

        </if>
     limit #{start},#{end}

    </select>

    <select id="getAllCount" resultType="int">
        select count(0) from pro_img
        <if test="proId!=0 and proId!=null">
            where pro_id=#{proId}
        </if>
    </select>
    <!--add-->
    <insert id="addProImg" >
        insert into pro_img values (0,#{proImgAlt},#{proImgSrc},#{proImgCover},#{proId})
    </insert>
    <!--update-->
    <update id="updateProImg">
        update pro_img set pro_img_alt=#{proImgAlt},pro_img_src=#{proImgSrc},pro_img_cover=#{proImgCover}
        where pro_img_id=#{proImgId}
    </update>
    <delete id="deleteProImg">
        delete  from pro_img
        where pro_img_id in
        <foreach collection="array" open="(" close=")" separator=","
                 item="id">#{id}
        </foreach>
    </delete>
    <delete id="deleteProImgbyProId">
        delete  from pro_img
        where pro_id in
        <foreach collection="array" open="(" close=")" separator=","
                 item="id">#{id}
        </foreach>
    </delete>



</mapper>