<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tthome.visneymanager.dao.SizeDao">

    <resultMap id="size" type="com.tthome.visneymanager.entity.Size">
        <result column="size_id" property="sizeId"></result>
        <result column="size_msg" property="siziMsg"></result>
    </resultMap>

    <select id="getAllSize" resultMap="size">
     SELECT * FROM size
    </select>
    <select id="getAllSizeBypage" resultMap="size">
     SELECT * FROM size
            limit #{start},#{end}
    </select>

    <select id="getSizeCount" resultType="int">
        select count(0) from size

    </select>
    <!--add-->
    <insert id="addSize" >
        insert into size values (0,#{siziMsg})
    </insert>
    <!--update-->
    <update id="updateSize">
        update size set size_msg=#{siziMsg}
        where size_id=#{sizeId}
    </update>
    <delete id="deleteSize">
        delete  from size
        where size_id in
        <foreach collection="array" open="(" close=")" separator=","
                 item="id">#{id}
        </foreach>
    </delete>

</mapper>