<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tthome.visney.dao.SizeMapper" >
  <resultMap id="BaseResultMap" type="com.tthome.visney.entity.Size" >
    <id column="size_id" property="sizeId" jdbcType="SMALLINT" />
    <result column="sizi_msg" property="siziMsg" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from size
    where size_id = #{sizeId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.tthome.visney.entity.Size" >
    insert into size (size_id, sizi_msg)
    values (#{sizeId,jdbcType=SMALLINT}, #{siziMsg,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tthome.visney.entity.Size" >
    update size
    set sizi_msg = #{siziMsg,jdbcType=VARCHAR}
    where size_id = #{sizeId,jdbcType=SMALLINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select size_id, sizi_msg
    from size
    where size_id = #{sizeId,jdbcType=SMALLINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select size_id, sizi_msg
    from size
  </select>
</mapper>