<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理页面</title>

    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/css/css.css">
    <link type="text/css" rel="stylesheet" href="../static/css/easyui.css">
    <link type="text/css" rel="stylesheet" href="../static/css/icon.css">
</head>
<body class="easyui-layout">
<div data-options="region:'north',title:'欢迎！',split:true" style="height:100px;">欢迎使用后台管理系统</div>
<div data-options="region:'east',iconCls:'icon-reload',title:'East',split:true" style="width:100px;"></div>
<div data-options="region:'west',title:'West',split:true" style="width:200px;">
    <div id="aa" class="easyui-accordion" style="width:300px;height:200px;">

        <div title="Title3"></div>
        <div title="Title4"></div>

    </div>






</div>
<div data-options="region:'center',title:'center title'" style="padding:5px;background:#eee;"></div>
<script type="text/javascript">
    $('#aa').accordion({
        collapsible:false,
        selected: false,
        animate:false,
        border:false

    });

</script>
</body>
</html>